@font-face{
    font-family:'digital-clock-font';
    src: url('font/digital-7.ttf');
}

.stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    margin: 1vw;
    border: 0.5vw solid black;
    width: 55vw;
    height: 20vw;
    background-color: #9c9c9c;
}

.control {
    background-color: #ff0000;
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
    border: 0.5vw solid black;
    border-radius: 50%;
}

.screen {
    font-family: 'digital-clock-font';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    color: #ffffff;
    background-color: #000000;
    border: 0.5vw solid #c2c2c2;
    padding: 1vw;
    width: 30vw;
    height: 10vw;
}

.buttons {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 2vw;
    margin: 0.3vw;
    padding: 1vw;
    width: 10vw;
    height: 5vw;
    border: 0.5vw solid #c2c2c2;
    cursor: pointer;
}

button:hover {
    background-color: #c2c2c2;
}