.inputContainer {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 20px;
	gap: 10px;
	border: 2px solid black;
	border-radius: 10px;
	z-index: 99;
	transform: translate(-50%, -50%);
}

#balloonAmount {
	font-size: 20px;
	text-align: center;
	width: 100px;
	height: 30px;
	border-radius: 5px;
}

#addBalloons {
	text-align: center;
	height: 30px;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
}
